[submodule "genesis-self-source/lib/forge-std"]
	path = genesis-self-source/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "genesis-self-source/lib/openzeppelin-contracts"]
	path = genesis-self-source/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
